# Data Pre-Processing and Cleaning

In [1]:
# Impporting required libraries
import numpy as np
import pandas as pd

In [2]:
# Importing databases
appearances = pd.read_excel("C:\\Users\\vinay\\OneDrive\\Desktop\\NIIT Related\\ds_c8_datafiles-main\\appearances.xlsx")
game_events = pd.read_excel("C:\\Users\\vinay\\OneDrive\\Desktop\\NIIT Related\\ds_c8_datafiles-main\\game_events.xlsx")
game_lineups = pd.read_excel("C:\\Users\\vinay\\OneDrive\\Desktop\\NIIT Related\\ds_c8_datafiles-main\\game_lineups.xlsx")
games = pd.read_excel("C:\\Users\\vinay\\OneDrive\\Desktop\\NIIT Related\\ds_c8_datafiles-main\\games.xlsx") 
players = pd.read_excel("C:\\Users\\vinay\\OneDrive\\Desktop\\NIIT Related\\ds_c8_datafiles-main\\players.xlsx")

In [3]:
# Appearances table details using info()
appearances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3568 entries, 0 to 3567
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   appearance_id   3568 non-null   object
 1   game_id         3568 non-null   int64
 2   player_id       3568 non-null   int64
 3   date            3568 non-null   datetime64[ns]
 4   player_name     3568 non-null   object
 5   competition_id  3568 non-null   object
 6   yellow_cards    3568 non-null   int64
 7   red_cards       3568 non-null   int64
 8   goals           3568 non-null   int64
 9   assists         3568 non-null   int64
 10  minutes_played  3568 non-null   int64
dtypes: datetime64[ns](1), int64(7), object(3)
memory usage: 306.8+ KB

In [4]:
# Game_events table details using info()
game_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1849 entries, 0 to 1848
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   game_event_id     1849 non-null   object
 1   date              1849 non-null   datetime64[ns]
 2   game_id           1849 non-null   int64
 3   minute            1849 non-null   int64
 4   type              1849 non-null   object
 5   player_id         1849 non-null   int64
 6   description       916 non-null    object
 7   player_in_id      1155 non-null   float64
 8   player_assist_id  140 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 130.1+ KB

In [5]:
# Game_lineups table details using info()
game_lineups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_lineups_id  219 non-null    object
 1   game_id          219 non-null    int64
 2   type             219 non-null    object
 3   number           219 non-null    int64
 4   player_id        219 non-null    int64
 5   player_name      219 non-null    object
 6   team_captain     219 non-null    int64
 7   position         219 non-null    object
dtypes: int64(4), object(4)
memory usage: 13.8+ KB

In [6]:
# Appearances table details using info()
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3268 entries, 0 to 3267
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 3268 non-null   int64
 1   competition_id          3268 non-null   object
 2   season                  3268 non-null   int64
 3   round                   3268 non-null   object
 4   date                    3268 non-null   datetime64[ns]
 5   home_club_goals         3268 non-null   int64
 6   away_club_goals         3268 non-null   int64
 7   home_club_position      2789 non-null   float64
 8   away_club_position      2789 non-null   float64
 9   home_club_manager_name  3263 non-null   object
 10  away_club_manager_name  3263 non-null   object
 11  stadium                 3268 non-null   object
 12  attendance              3153 non-null   float64
 13  referee                 3266 non-null   object
 14  home_club_formation     0 non-null      float64
 15  away_club_formation     0 non-null      float64
 16  home_club_name          3158 non-null   object
 17  away_club_name          3205 non-null   object
 18  aggregate               3268 non-null   object
 19  competition_type        3268 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(4), object(10)
memory usage: 510.8+ KB

In [7]:
# Players table details using info()
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    152 non-null    int64
 1   name                         152 non-null    object
 2   last_season                  152 non-null    int64
 3   current_club_id              152 non-null    int64
 4   player_code                  152 non-null    object
 5   country_of_birth             152 non-null    object
 6   date_of_birth                152 non-null    datetime64[ns]
 7   sub_position                 152 non-null    object
 8   position                     152 non-null    object
 9   foot                         141 non-null    object
 10  height_in_cm                 149 non-null    float64
 11  market_value_in_eur          114 non-null    float64
 12  highest_market_value_in_eur  148 non-null    float64
 13  contract_expiration_date     106 non-null    datetime64[ns]
 14  agent_name                   107 non-null    object
dtypes: datetime64[ns](2), float64(3), int64(3), object(7)
memory usage: 17.9+ KB

In [8]:
# Checking for null values
appearances.isnull().sum()

appearance_id     0
game_id           0
player_id         0
date              0
player_name       0
competition_id    0
yellow_cards      0
red_cards         0
goals             0
assists           0
minutes_played    0
dtype: int64

In [9]:
# Checking for null values
game_events.isnull().sum()

game_event_id          0
date                   0
game_id                0
minute                 0
type                   0
player_id              0
description          933
player_in_id         694
player_assist_id    1709
dtype: int64

In [10]:
# missing value treatment and dropping unnecessary columns
game_events["description"]=game_events["description"].fillna("N/A")
game_events["Sub/Assist_player_id"] = game_events['player_in_id'].combine_first(game_events['player_assist_id'])
game_events = game_events.drop(['player_in_id', 'player_assist_id'], axis=1)
game_events["Sub/Assist_player_id"] = game_events["Sub/Assist_player_id"].fillna("-")

In [11]:
# Checking for null values
game_events.isnull().sum()

game_event_id           0
date                    0
game_id                 0
minute                  0
type                    0
player_id               0
description             0
Sub/Assist_player_id    0
dtype: int64

In [12]:
# Checking for null values
game_lineups.isnull().sum()

game_lineups_id    0
game_id            0
type               0
number             0
player_id          0
player_name        0
team_captain       0
position           0
dtype: int64

In [13]:
# Checking for null values
games.isnull().sum()

game_id                      0
competition_id               0
season                       0
round                        0
date                         0
home_club_goals              0
away_club_goals              0
home_club_position         479
away_club_position         479
home_club_manager_name       5
away_club_manager_name       5
stadium                      0
attendance                 115
referee                      2
home_club_formation       3268
away_club_formation       3268
home_club_name             110
away_club_name              63
aggregate                    0
competition_type             0
dtype: int64

In [15]:
# Missing value treatment
columns_to_fill = ["home_club_position", "away_club_position", "home_club_manager_name", 
                   "away_club_manager_name", "referee", "home_club_name", "away_club_name"]
games[columns_to_fill] = games[columns_to_fill].fillna("N/A")
games = games.drop(['home_club_formation', 'away_club_formation'], axis=1)

In [17]:
# Checking for null values
games.isnull().sum()

game_id                     0
competition_id              0
season                      0
round                       0
date                        0
home_club_goals             0
away_club_goals             0
home_club_position          0
away_club_position          0
home_club_manager_name      0
away_club_manager_name      0
stadium                     0
attendance                115
referee                     0
home_club_name              0
away_club_name              0
aggregate                   0
competition_type            0
dtype: int64

In [18]:
# Missing value treatmet by using group by and filling null values by mean of respective stadium
def fill_missing_attendance(group):
    group['attendance'] = group['attendance'].fillna(group['attendance'].mean())
    return group

games = games.groupby('stadium').apply(fill_missing_attendance)

C:\Users\vinay\AppData\Local\Temp\ipykernel_25252\3748095680.py:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  games = games.groupby('stadium').apply(fill_missing_attendance)

In [19]:
# Checking for null values
games.isnull().sum()

game_id                    0
competition_id             0
season                     0
round                      0
date                       0
home_club_goals            0
away_club_goals            0
home_club_position         0
away_club_position         0
home_club_manager_name     0
away_club_manager_name     0
stadium                    0
attendance                13
referee                    0
home_club_name             0
away_club_name             0
aggregate                  0
competition_type           0
dtype: int64

In [22]:
# Missing value treatment
min_attendance = np.min(games["attendance"])
games["attendance"].fillna(min_attendance, inplace=True)

In [23]:
# Checking for null values
games.isnull().sum()

game_id                   0
competition_id            0
season                    0
round                     0
date                      0
home_club_goals           0
away_club_goals           0
home_club_position        0
away_club_position        0
home_club_manager_name    0
away_club_manager_name    0
stadium                   0
attendance                0
referee                   0
home_club_name            0
away_club_name            0
aggregate                 0
competition_type          0
dtype: int64

In [14]:
# Checking for null values
players.isnull().sum()

player_id                       0
name                            0
last_season                     0
current_club_id                 0
player_code                     0
country_of_birth                0
date_of_birth                   0
sub_position                    0
position                        0
foot                           11
height_in_cm                    3
market_value_in_eur            38
highest_market_value_in_eur     4
contract_expiration_date       46
agent_name                     45
dtype: int64

In [42]:
# Getting mode for missing value imputation
mode_foot = players["foot"].mode().iloc[0]
players["foot"].fillna(mode_foot, inplace=True)

In [43]:
mode_foot

'right'

In [44]:
# Getting mean for missing value imputation
Average_height = players["height_in_cm"].mean()
players["height_in_cm"].fillna(Average_height, inplace=True)

In [45]:
# Getting minimum for missing value imputation
Min_market_value = np.min(players["market_value_in_eur"])
players["market_value_in_eur"].fillna(Min_market_value, inplace=True)

In [46]:
players["highest_market_value_in_eur"].fillna(Min_market_value, inplace=True)

In [51]:
# Getting mode for missing value imputation
Mode_Contract = players["contract_expiration_date"].mode().iloc[0]
players["contract_expiration_date"].fillna(Mode_Contract,inplace=True)

In [52]:
Mode_Contract

Timestamp('2025-06-30 00:00:00')

In [53]:
# Missing value imputation by "N/A"
players["agent_name"] = players["agent_name"].fillna("N/A")

In [54]:
#Checking for null
players.isnull().sum()

player_id                      0
name                           0
last_season                    0
current_club_id                0
player_code                    0
country_of_birth               0
date_of_birth                  0
sub_position                   0
position                       0
foot                           0
height_in_cm                   0
market_value_in_eur            0
highest_market_value_in_eur    0
contract_expiration_date       0
agent_name                     0
dtype: int64

# ---------------------------------------------------------------------------------------------------------------

# Data merging

In [55]:
# Merging Appearance and Games table using left join
Games_Appearance = pd.merge(games,appearances,on="game_id", how = "left", suffixes=("_game","_appearances"))

In [60]:
Games_Appearance.shape

(3568, 28)

In [61]:
# Merging previously merged along with game_lineups using outer join
Merged1 = pd.merge(Games_Appearance,game_lineups, on ="game_id", how = "outer", suffixes=("_Merged","_lineups"))

In [63]:
Merged1.shape

(3787, 35)

In [64]:
# Merging previously merged along with game_events using outer join
Merged2 = pd.merge(Merged1,game_events, on = "game_id", how="outer", suffixes=("_Merged2","_events"))

In [65]:
Merged2.shape

(4686, 42)

In [66]:
# Merging previously merged along with players using outer join
Final_football_data = pd.merge(Merged2,players, on = "player_id", how = "outer", suffixes=("_Merged3","_final"))

In [67]:
Final_football_data.shape

(4761, 56)

In [73]:
# Checking for duplicated
Final_football_data["game_id"].duplicated().sum()

721

In [78]:
# Dropping duplicates
Final_football_data.drop_duplicates(subset="game_id", inplace=True)

In [79]:
# Checking the size of the final dataset size
Final_football_data.shape

(4040, 56)

# ---------------------------------------------------------------------------------------------------------------

# Exportig the data

In [80]:
%pwd

'C:\\Users\\vinay\\OneDrive\\Desktop'

In [82]:
appearances.to_csv("Appearances.csv")
game_events.to_csv("Game_events.csv")
game_lineups.to_csv("Game_lineups.csv")
games.to_csv("Games.csv")
players.to_csv("Players.csv")
Final_football_data.to_csv("Football_data.csv")

# ---------------------------------------------------------------------------------------------------------------

# Exporting dataset to SQL

In [ ]:
# Using mysql.connector exporting the data to SQL for some business questions.

In [83]:
import mysql.connector as sql

In [86]:
import pandas as pd
from sqlalchemy import create_engine

database_credentials = {
    'username': 'root',
    'password': 'vinaysimha1512',
    'host': 'localhost',
    'database': 'Football',}


# Connect to MySQL database using SQLAlchemy
engine = create_engine(f"mysql+pymysql://{database_credentials['username']}:{database_credentials['password']}@{database_credentials['host']}/{database_credentials['database']}")
# Insert the games into a new table 
games.to_sql('games', con=engine, index=False, if_exists='replace')

# Close the database connection
engine.dispose()

In [87]:
import pandas as pd
from sqlalchemy import create_engine

database_credentials = {
    'username': 'root',
    'password': 'vinaysimha1512',
    'host': 'localhost',
    'database': 'Football',}


# Connect to MySQL database using SQLAlchemy
engine = create_engine(f"mysql+pymysql://{database_credentials['username']}:{database_credentials['password']}@{database_credentials['host']}/{database_credentials['database']}")
# Insert the games into a new table 
appearances.to_sql('appearances', con=engine, index=False, if_exists='replace')

# Close the database connection
engine.dispose()

In [88]:
import pandas as pd
from sqlalchemy import create_engine

database_credentials = {
    'username': 'root',
    'password': 'vinaysimha1512',
    'host': 'localhost',
    'database': 'Football',}


# Connect to MySQL database using SQLAlchemy
engine = create_engine(f"mysql+pymysql://{database_credentials['username']}:{database_credentials['password']}@{database_credentials['host']}/{database_credentials['database']}")
# Insert the games into a new table 
game_events.to_sql('game_events', con=engine, index=False, if_exists='replace')

# Close the database connection
engine.dispose()

In [89]:
import pandas as pd
from sqlalchemy import create_engine

database_credentials = {
    'username': 'root',
    'password': 'vinaysimha1512',
    'host': 'localhost',
    'database': 'Football',}


# Connect to MySQL database using SQLAlchemy
engine = create_engine(f"mysql+pymysql://{database_credentials['username']}:{database_credentials['password']}@{database_credentials['host']}/{database_credentials['database']}")
# Insert the games into a new table 
game_lineups.to_sql('game_lineups', con=engine, index=False, if_exists='replace')

# Close the database connection
engine.dispose()

In [90]:
import pandas as pd
from sqlalchemy import create_engine

database_credentials = {
    'username': 'root',
    'password': 'vinaysimha1512',
    'host': 'localhost',
    'database': 'Football',}


# Connect to MySQL database using SQLAlchemy
engine = create_engine(f"mysql+pymysql://{database_credentials['username']}:{database_credentials['password']}@{database_credentials['host']}/{database_credentials['database']}")
# Insert the games into a new table 
players.to_sql('players', con=engine, index=False, if_exists='replace')

# Close the database connection
engine.dispose()